
.coverPhotoTag {
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	margin-bottom: 15px;
	display: block;
}

.coverPhotoAuthorBox {
	text-align: center;
	margin: -36px auto 36px auto;
	font-weight: bold;
}

.coverPhotoAuthorBox img {
	width: 72px; 
	margin: 0 auto .5em auto;
	border: 3px solid #fff;
	display: block;
}

.coverPhotoAuthorBox a {
	text-decoration: none;
	color: #333;
}

.coverPhotoAuthorBox a:hover {
	color: #666;
}
