.flexContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	list-style-type: none;
}

.flexCard { /* Set to one columns for small sizes as a base*/
	/* Structure */
	padding: 0;
	flex-grow: 1;
	flex-basis: 96%;
	margin-left: 2%;
	margin-right: 2%;
	flex-direction: column;
	display: flex; /* allows child elements to use flexbox too */
	
	/* Styling */
	max-width: 100%;
	padding-bottom: 25px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 30px;
}

.flexcard:first-child {
    margin-left: 0; } /* Simulates Skeleton columns */


.flexImage {
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
}

@media (min-width: 550px) {
	.flexImage{
		height: 250px;
	}
	.flexContent h3 {
		font-size: 3rem;
	}
}

@media (min-width: 600px) {
	.flexImage {
		height: 200px;
	}
}

@media (min-width: 900px) {
	.flexImage {
		height: 250px;
	}
}

@media (min-width: 1000px) {
	.flexImage {
		height: 300px;
	}
}

.flexImage img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.flexContent {
	width: 100%;
}

.flexCard a {
	color: #226089;
	text-decoration: none;
}

.flexInfo {
	margin-top: auto;
	width: 100%;
	color: #777777;
}

.tag {
	float: right;
}

@media (min-width: 600px) { /* Switch to two columns */
	.flexCard {
		/* Structure */
		max-width: 46%;
		flex-basis: 46%;
		margin-left: 2%;
		margin-right: 2%;
		
		/* Styling */
		padding-bottom: 25px;
		border-bottom: 2px solid #ccc;
		margin-bottom: 30px;
	}
}