/* SETUP AND UTILITY CLASSES */

/* apply box sizing */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

*, *:before, *:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit; 
	box-sizing: inherit;
}

.clearfix {
	content: "";
	display: table;
	clear: both; 
}

/* making full height homepage sections */

html, body {
	height: 100%;
	width: 100%;
	border: none;
	margin: 0;
}

.fullheight {
	height: 100%;
	min-height: 100%;
	/*height: 100vh;*/
}

.fullheightCentered {
	
}

.contentCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.contentVerticalCentered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Typography */

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	text-transform: uppercase;
}

/***** HOMEPAGE STYLES *****/

/* generic container for homepage */

.homepage {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Full height sections */

#hero {
	position: relative;
	background-color: #226089;
	background: url("../images/hero.jpg") center;
	color: #fff;
	 display: flex;
    align-items: center;
}

@media (max-width: 700px) {
	#hero h1 {
		font-size: 2.5rem;
	}
	#hero h2 {
		font-size: 2rem;
	}
}
	
@media (min-width: 701px) and (max-width: 959px) {
	#hero h1 {
		font-size: 3rem;
	}
	#hero h2 {
		font-size: 2.75rem;
	}
}

#hero .logo {
	max-width: 200px;
	height: auto;
	margin-bottom: 20px;
}

@media (min-width: 701px) {
	#hero .logo {
		margin-bottom: 40px;
	}
}

#intro {
	position: relative;
	background-color: #111;
	background: url("../images/intro.jpg") center;
	background-size: auto 100%;
	color: #fff;
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
  .homepage h2 {
    font-size: 2.75rem;
  }
}

/*@media (min-width: 701px) and (max-width: 959px) {
	.homepage h2 {
	 font-size: 3.75rem;
	}
}

/* Homepage colour schemes */

.hpDarkGrey {
	background-color: /*#8F8F8F;*/ #232323;
	color: #fff;
}

.hpLightGrey {
	background-color: /*#FBF8F1;*/ #eeeeee;
}

.hpBlue {
	background-color: #226089;
	color: #fff;
}

.homepage h3 {
	color: #226089;
}


.hpDarkGrey .button {
	color: #232323;
	background-color:#fff;
}

.hpDarkGrey .button:hover {
	color: #232323;
	background-color:#dedede;
}

/* Scroller */

.scrollCTA {
	text-align: center;
	position: absolute;
	bottom: 10px;
	margin-bottom: 0px;
	width: 100%;
}

.scrollCTA a {
	color: #fff;
	cursor: pointer;
} 

.scrollCTA a:hover {
	color: #dedede;
}

/* About section */

.avatar {
	border-radius: 50%;
	margin-bottom: 30px;
	max-width: 200px;
}

/* Homepage Testimonials */

.homepage .testimonialContainer {
	margin-top: -30px;
	border-top: 3px solid #ddd; 
	border-bottom: 3px solid #ddd; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.homepage blockquote {
	font-size: 2.25rem;
	color: #226089;
	font-style: italic;
}

.homepage blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.homepage blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.homepage .testimonialCredit {
	font-weight: bold;
	font-size: 1.75rem;
}

.homepage .clientLogo {
	max-width: 200px;
	height: auto;
}

.homepage h5 {
	margin-top: -20px;
}

/* Make Services column heights equal at non-mobile breakpoint */

@media (min-width:750px) {
	.hpServicesContainer {
		display: flex;
	}
}

.servicePod {
	padding: 30px 20px;
	margin-bottom: 20px;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eee;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(60, 60, 60, 0.25);
	-moz-box-shadow: 2px 2px 3px 0px rgba(60, 60, 60, 0.25);
	box-shadow: 2px 2px 3px 0px rgba(60, 60, 60, 0.25);
	background-color: #fff;
}

/**** KEEP FOR AMENDING MAX WIDTH OF CONTAINER ****
/* For devices larger than 400px */
/*@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
****/

@media (max-width: 850px) {
	.servicePod h3 {
		font-size: 2.5rem;
	}
}

@media (min-width: 851px) and (max-width: 960px) {
	.servicePod h3 {
		font-size: 2.75rem;
	}
}

@media (min-width: 960px) {
	.servicePod h3 {
		font-size: 3rem;
	}
}

.servicesIcon {
	margin-bottom: 0px;
	max-width: 150px;
	height: auto;
}

/* Enquiry form section */

#enquiryForm {
	text-align: left;
}

/* Contact section */

.contactLinks li {
	list-style: none;
	display: inline;
}

.contactLinks li a {
	text-decoration: none;
	color: #fff;
	padding: 0 20px;
}

.contactLinks li a:hover {
	color: #dedede;
}

/***** SITEWIDE STYLES *****/

/***** Header *****/

header {
	position: fixed;
	z-index: 1; /* allows for header to appear above content, but below menu */
	height: 60px;
	top: 0;
	margin: 0;
	padding: 0;
	background-color: #226089;
}

@media (min-width: 700px) {
	header {
		height: 80px;
	}
}

#siteLogo {
	text-decoration: none;
	float: left;
}

#siteLogo img {
	height: 50px;
	width: auto;
	padding: 5px 0px;
	margin: 5px 0;
	vertical-align: middle;
}

@media (min-width: 700px) {
	#siteLogo img {
		height: 70px;
	}
}

/***** Footer *****/

footer {
	text-align: left;
	background-color: #111;
	color: #eee;
	padding: 20px 10px;
}

.footerLinks {
	list-style: none;
	line-height: 1.5rem;
}

.footerLinks a {
	color: #fff;
	text-decoration: none;
}

.footerLinks i {
	padding-right: 0.5em;
}

.legal, .websiteCredit {
	font-size: 0.75em;
}

#footerMailchimpInput {
	width: 75%;
	float: left;
}

#footerMailchimpButton {
	width: 15%;
	float: right;
	color: #fff;
	background-color: #333;
	border: none;
	text-align: left;
}

/***** Cover photos *****/

.coverPhoto {
	background-size: cover;
	/*padding-top: 10%;
	margin-bottom: 50px;*/
	margin-top: 60px;
	height: 400px;
	text-align: center;
	color: #ffffff;
	line-height: 400px;
}

@media (min-width: 700px) {
	.coverPhoto {
		margin-top: 80px;
		height: 500px;
		line-height: 500px;
	}
}

.coverPhotoContent {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.coverPhoto h2 {
	text-transform: none;
}

/***** Content *****/

.introduction {
	font-size: 2rem;
}

.button-primary {
	background-color: #226089;
	color: #fff;
}

/***** BLOG STYLES *****/

.postList { /* Main flex container for list of posts */
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	list-style-type: none;
}

.postCard { /* Set to one columns for small sizes as a base*/
	/* Structure */
	padding: 0;
	flex-grow: 1;
	flex-basis: 96%;
	margin-left: 2%;
	margin-right: 2%;
	flex-direction: column;
	display: flex; /* allows child elements to use flexbox too */
	
	/* Styling */
	max-width: 100%;
	padding-bottom: 25px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 30px;
}

@media (min-width: 600px) { /* Switch to two columns */
	.postCard {
		/* Structure */
		max-width: 46%;
		flex-basis: 46%;
		margin-left: 2%;
		margin-right: 2%;
		
		/* Styling */
		padding-bottom: 25px;
		border-bottom: 2px solid #ccc;
		margin-bottom: 30px;
	}
}

.postCard:first-child {
    margin-left: 0; } /* Simulates Skeleton columns */

/* Images */

.postCardImage {
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
}

@media (min-width: 550px) {
	.postCardImage{
		height: 250px;
	}
	.postCardContent h3 {
		font-size: 3rem;
	}
}

@media (min-width: 600px) {
	.postCardImage {
		height: 200px;
	}
}

@media (min-width: 900px) {
	.postCardImage {
		height: 250px;
	}
}

@media (min-width: 1000px) {
	.postCardImage {
		height: 300px;
	}
}

.postCardImage img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* Text */

.postCardContent {
	width: 100%;
}

@media (min-width: 550px) {
	.postCardContent h3 {
		font-size: 3rem;
	}
}

.postCard a {
	color: #226089;
	text-decoration: none;
}

.postCardInfo {
	margin-top: auto;
	width: 100%;
	color: #777777;
}

.postCardTag {
	float: right;
}