<div class="row">
        <div class="eight columns offset-by-two">
            <div id="comments">
                <h5>Comments</h5>
                <p>Join the discussion by leaving a comment below.</p>
                <form class="commentsForm">
                    <div class="row">
                    <div class="six columns">
                      <label for="commentNameInput">Your name</label>
                      <input class="u-full-width" placeholder="Your Name" id="commentNameInput" type="text">
                    </div>
                    <div class="six columns">
                      <label for="exampleEmailInput">Your email</label>
                      <input class="u-full-width" placeholder="email@example.com" id="commentEmailInput" type="email">
                    </div>
                    </div><!--/row-->
                    <label for="commentUserCommentInput">Your comment</label>
                    <textarea class="u-full-width" placeholder="Your comment" id="commentUserCommentInput"></textarea>
                    <input class="button-primary" value="Submit" type="submit">
                </form>
            </div>
        </div>
    </div>