{% assign blog-header-image = "/images/blog/blog-cover-photo.jpg" %}
{% assign event-header-image = "/images/events/adobe-speaker-199357227-flip.jpg" %}

{% if page.frontpage == true %}

{% elsif page.sub-heading %}

<!-- Section cover photo -->
<section id="sectionHero" class="u-full-width coverPhoto margin-top-60" style="background-image: url({{ page.header-image }}); background-postion: center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two">
                <div class="coverPhotoContent">
                    <h1>{{ page.main-heading }}</h1>
                    <h2>{{ page.sub-heading }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% elsif page.is_post %}

<!-- Blog cover photo -->
<section class="u-full-width coverPhoto coverPhotoOverlay" style="background-image: url({{ page.image }});">
    <div class="container">
        <div class="eight columns offset-by-two">
            <div class="coverPhotoContent margin-top-60">
                <a class="coverPhotoTag" href="/blog/category/{{page.categories[0] | slugize }}" title="View all posts in the {{ page.categories[0] | capitalize }} category">{{page.categories[0] | capitalize }}</a>
                <h1 class="postTitle">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</section>

{% elsif page.type == 'event-archive' %}

<!-- Section cover photo -->
<section id="sectionHero" class="u-full-width coverPhoto margin-top-60" style="background-image: url({{ event-header-image }}); background-postion: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="eight columns offset-by-two">
                    <div class="coverPhotoContent">
                        <h1>Archive</h1>
                        <h2>{% if page.layout == 'author' %}Author{% else %}{{ page.title | capitalize }}{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% elsif page.type == 'category' or 'tag' %}

<!-- Section cover photo -->
<section id="sectionHero" class="u-full-width coverPhoto margin-top-60" style="background-image: url({{ blog-header-image }}); background-postion: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="eight columns offset-by-two">
                    <div class="coverPhotoContent">
                        <h1>Archive</h1>
                        <h2>{% if page.layout == 'author' %}Author{% else %}{{ page.title | capitalize }}{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% else %}

<!-- Generic cover photo -->
<section id="genericHero" class="u-full-width coverPhoto coverPhotoOverlay margin-top-60" style="height: 50%; background-image: url({{ page.header_image }}); background-color: #ccc; background-position: center;">
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two">
                <div class="coverPhotoContent">
                    <h1>
                    {% if page.main-heading %}
                        {{ page.main-heading }}
                    {% else %}
                    {{ page.title }}
                    {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}