<!-- Speakers -->
<div class="row">
        <div class="eight columns offset-by-two">
                <h3>Speakers</h3>
                    <div class="row">
                        <div class="six columns">
                            <img class="avatar" src="/assets/images/charlotte.jpg" alt="Charlotte Jee - Jeneo founder" style="width: 150px; height: auto; display: block; margin: 0 auto 1.5em;"/>
                            <h4 style="text-align: center;">Charlotte Jee</h4>
                            <h5 style="text-align: center;">Jeneo Founder</h5>
                        </div>
                        <div class="six columns">
                            <img class="avatar" src="/assets/images/charlotte.jpg" alt="Charlotte Jee - Jeneo founder" style="width: 150px; height: auto; display: block; margin: 0 auto 1.5em;"/>
                            <h4 style="text-align: center;">Another Speaker</h4>
                            <h5 style="text-align: center;">Job Role</h5>
                        </div>
                    </div>
        </div>
    </div>