<!-- Agenda-->
<div class="row">
        <div class="eight columns offset-by-two">
                <h3>Agenda</h3>
                <table class="agendaTable">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="agendaTime">18:00</td>
                            <td>Welcome</td>
                        </tr>
                        <tr>
                            <td class="agendaTime">18:15</td>
                            <td>A speaker talks about something</td>
                        </tr>
                        <tr>
                            <td class="agendaTime">18:30</td>
                            <td>Another speaker talks about something else</td>
                        </tr>
                        <tr>
                            <td class="agendaTime">18:45</td>
                            <td>Time for food!</td>
                        </tr>
                        <tr>
                            <td class="agendaTime">19:15</td>
                            <td>Another speaker talks about something else</td>
                        </tr>
                        <tr>
                            <td class="agendaTime">19:30</td>
                            <td>Another speaker talks about something else</td>
                        </tr>
                        <tr>
                            <td class="agendaTime">20:00</td>
                            <td>Party time!</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>