<head>
        <!-- Google Analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- remove analytics script for dev --
        ----------------------------------------
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110986025-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'UA-110986025-1');
        </script>
        -----------------------------------------
        -->
    
        <!-- Basic Page Needs -->
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web:400,600" rel="stylesheet" type="text/css" /> 
        <link href="{{ site.url }}/css/font-awesome.css" rel="stylesheet" type="text/css" />
    
        <!-- CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/normalize.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/skeleton.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/styles.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/nav-styles.css" />
    
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png" />
    
    </head>