<!-- Header -->
<header class="u-full-width">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<!-- Brand -->
					<a id="siteLogo" href="index.html" title="Jeneo">
						<img src="/images/jeneo-logo-200px.png" alt="Jeneo">
					</a>
					<!-- Navigation -->
					<label class="btn" for="toggle" onclick>Menu <i class="fa fa-bars" aria-hidden="true" alt="Menu"></i></label>
					<input id="toggle" type="checkbox" />
					
					<nav>
						<ul id="navigation">
							<li class="navigationHiddenItem"><a href="index.html" title="#title">Home</a></li>
							{% for link in site.data.navigation %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
							<li id="close"><label for="toggle">Close</label></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>