.postList { /* Main flex container for list of posts */
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	list-style-type: none;
}

.postCard { /* Set to one columns for small sizes as a base*/
	/* Structure */
	padding: 0;
	flex-grow: 1;
	flex-basis: 96%;
	margin-left: 2%;
	margin-right: 2%;
	flex-direction: column;
	display: flex; /* allows child elements to use flexbox too */
	
	/* Styling */
	max-width: 100%;
	padding-bottom: 25px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 30px;
}

@media (min-width: 600px) { /* Switch to two columns */
	.postCard {
		/* Structure */
		max-width: 46%;
		flex-basis: 46%;
		margin-left: 2%;
		margin-right: 2%;
		
		/* Styling */
		padding-bottom: 25px;
		border-bottom: 2px solid #ccc;
		margin-bottom: 30px;
	}
}

.postCard:first-child {
    margin-left: 0; } /* Simulates Skeleton columns */

/* Images */

.postCardImage {
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
}

@media (min-width: 550px) {
	.postCardImage{
		height: 250px;
	}
	.postCardContent h3 {
		font-size: 3rem;
	}
}

@media (min-width: 600px) {
	.postCardImage {
		height: 200px;
	}
}

@media (min-width: 900px) {
	.postCardImage {
		height: 250px;
	}
}

@media (min-width: 1000px) {
	.postCardImage {
		height: 300px;
	}
}

.postCardImage img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* Text */

.postCardContent {
	width: 100%;
}

@media (min-width: 550px) {
	.postCardContent h3 {
		font-size: 3rem;
	}
}

.postCard a {
	color: #226089;
	text-decoration: none;
}

.postCardInfo {
	margin-top: auto;
	width: 100%;
	color: #777777;
}

.postCardTag {
	float: right;
}