/* SETUP AND UTILITY CLASSES */

/* apply box sizing */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

*, *:before, *:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit; 
	box-sizing: inherit;
}

.clearfix {
	content: "";
	display: table;
	clear: both; 
}

/* making full height homepage sections */

html, body {
	height: 100%;
	width: 100%;
	border: none;
	margin: 0;
}

.fullheight {
	height: 100%;
	min-height: 100%;
	/*height: 100vh;*/
}

.fullheightCentered {
	
}

.contentCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.contentVerticalCentered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Typography */

body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	text-transform: uppercase;
}

/***** HOMEPAGE STYLES *****/

/* generic container for homepage */

.homepage {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Full height sections */

#hero {
	position: relative;
	background-color: #226089;
	background: url("../images/hero.jpg") center;
	color: #fff;
}

@media (max-width: 700px) {
	#hero h1 {
		font-size: 2.5rem;
	}
	#hero h2 {
		font-size: 2rem;
	}
}
	
@media (min-width: 701px) and (max-width: 959px) {
	#hero h1 {
		font-size: 3rem;
	}
	#hero h2 {
		font-size: 2.75rem;
	}
}

#hero .logo {
	max-width: 200px;
	height: auto;
	margin-bottom: 20px;
}

@media (min-width: 701px) {
	#hero .logo {
		margin-bottom: 40px;
	}
}

#intro {
	position: relative;
	background-color: #111;
	background: url("../images/intro.jpg") center;
	background-size: auto 100%;
	color: #fff;
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
  .homepage h2 {
    font-size: 2.75rem;
  }
}

/*@media (min-width: 701px) and (max-width: 959px) {
	.homepage h2 {
	 font-size: 3.75rem;
	}
}

/* Homepage colour schemes */

.hpDarkGrey {
	background-color: /*#8F8F8F;*/ #232323;
	color: #fff;
}

.hpLightGrey {
	background-color: /*#FBF8F1;*/ #eeeeee;
}

.hpBlue {
	background-color: #226089;
	color: #fff;
}

.homepage h3 {
	color: #226089;
}


.hpDarkGrey .button {
	color: #232323;
	background-color:#fff;
}

.hpDarkGrey .button:hover {
	color: #232323;
	background-color:#dedede;
}

/* Scroller */

.scrollCTA {
	text-align: center;
	position: absolute;
	bottom: 10px;
	margin-bottom: 0px;
	width: 100%;
}

.scrollCTA a {
	color: #fff;
	cursor: pointer;
} 

.scrollCTA a:hover {
	color: #dedede;
}

/* About section */

.avatar {
	border-radius: 50%;
	margin-bottom: 30px;
	max-width: 200px;
}

/* Homepage Testimonials */

.homepage .testimonialContainer {
	margin-top: -30px;
	border-top: 3px solid #ddd; 
	border-bottom: 3px solid #ddd; 
	padding-top: 30px; 
	padding-bottom: 30px;
}

.homepage blockquote {
	font-size: 2.25rem;
	color: #226089;
	font-style: italic;
}

.homepage blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.homepage blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.homepage .testimonialCredit {
	font-weight: bold;
	font-size: 1.75rem;
}

.homepage .clientLogo {
	max-width: 200px;
	height: auto;
}

.homepage h5 {
	margin-top: -20px;
}

/* Make Services column heights equal at non-mobile breakpoint */

@media (min-width:750px) {
	.hpServicesContainer {
		display: flex;
	}
}

.servicePod {
	padding: 30px 20px;
	margin-bottom: 20px;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #eee;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(60, 60, 60, 0.25);
	-moz-box-shadow: 2px 2px 3px 0px rgba(60, 60, 60, 0.25);
	box-shadow: 2px 2px 3px 0px rgba(60, 60, 60, 0.25);
	background-color: #fff;
}

/**** KEEP FOR AMENDING MAX WIDTH OF CONTAINER ****
/* For devices larger than 400px */
/*@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
****/

@media (max-width: 850px) {
	.servicePod h3 {
		font-size: 2.5rem;
	}
}

@media (min-width: 851px) and (max-width: 960px) {
	.servicePod h3 {
		font-size: 2.75rem;
	}
}

@media (min-width: 960px) {
	.servicePod h3 {
		font-size: 3rem;
	}
}

/* Enquiry form section */

#enquiryForm {
	text-align: left;
}

/* Contact section */

.contactLinks li {
	list-style: none;
	display: inline;
}

.contactLinks li a {
	text-decoration: none;
	color: #fff;
	padding: 0 20px;
}

.contactLinks li a:hover {
	color: #dedede;
}

/***** SITEWIDE STYLES *****/

.introduction {
	font-size: 2rem;
}

.button-primary {
	background-color: #226089;
	color: #fff;
}

#footer {
	text-align: left;
	background-color: #111;
	color: #eee;
	font-size: 0.75em;
	padding: 20px 10px;
}

.footerLinks {
	list-style: none;
	float: left;
	padding-right: 3em;
}

.footerLinks li {
	display: inline;
	padding-right: 1em;
}
