---
layout: default
---

<!-- Blog post list -->
	
<div class="container">
		<div class="row">
			<ul class="postList">
            {% for post in site.posts %}
				<li class="postCard">
					<div class="postCardImage">
						<a href="{{ post.url }}" title="{{ post.title}}"><img src="{{ post.image }}" alt="{{ post.image-alt-text }}"></a>
					</div>
					<div class="postCardContent">
						<a href="{{ post.url }}" title="{{ post.title}}"><h3>{{ post.title}}</h3></a>
						<p>{{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
						</div>
					<div class="postCardInfo">
						<span><i class="fa fa-tag" aria-hidden="true" alt="Tag"></i> <a href="/categories/{{post.categories[0] | slugize }}" title="View all posts in the {{ post.categories[0] | capitalize }} category">{{ post.categories[0] | capitalize }}</a></span>
                        <span class="postCardDate">{{ post.date | date: "%-d %b %Y" }}</span>
					</div>
				</li>
			{% endfor %}	
			</ul>
		</div>
	</div>