---
layout: default
---

{% assign price_split = page.price | round: 2 | split: "." %}
{% assign integral = price_split[0] %}
{% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}


<div class="container">
		<div id="eventCTA" class="row margin-top-30">
			<div class="six columns offset-by-two ">
				<div class="eventDetails">
					<span>
						<i class="postCardIcon fa fa-calendar-o" aria-hidden="true" alt="Date"></i>
                        {{ page.start_date | date: "%a %-d %B %Y" }}</br>
                        <i class="postCardIcon fa fa-clock-o" aria-hidden="true" alt="Time"></i>
						{{ page.start_date | date: "%R" }}</br>
						<i class="postCardIcon fa fa-map-marker" aria-hidden="true" alt="Location"></i>
						{{ page.venue}}, {{ page.town }}</br>
						<i class="postCardIcon fa fa-pound-sign" aria-hidden="true" alt="Price">£</i>
                        {% if page.price > 0 %}
                        {{ integral }}.{{ fractional }}
                        {% else %}
                        Free
                        {% endif %}
					</span>
				</div>
			</div>
			<div class="two columns">
                <div class="row">
				<a class="button button-primary eventBookButton u-full-width" href="{{ page.event_link }}" target="_blank">Book now</a>
                </div>
                {% if page.google_map_embed_code %}
                <div class="row">
                    <a class="button eventBookButton u-full-width" href="#map" target="_blank">View map</a>
                </div>
                {% endif %}
			</div>
		</div>

		<div class="row">
			<div class="eight columns offset-by-two eventInfo">
				<div id="post">
                    <p class="introduction">{{ page.introduction }}</p>

                    {{ content }}

                </div>
            </div>
        </div><!--/row-->

        {% comment include event-agenda.html %}{% endcomment %}

        {% comment include event-speakers.html %}{% endcomment %}
       
        {% if page.google_map_embed_code %}

            {% include event-map.html %}
        
        {% endif %}
        
        <div class="row" style="margin-top: 15px;">
                <div class="eight columns offset-by-two">
                    <div id="postWidget">
                        <span>Share: 
                            <a href="#shareFacebook" title="Share article via Facebook"><i class="fa fa-facebook-square" aria-hidden="true" alt="Facebook"></i><!--Facebook--></a>
                            <a href="shareTwitter" title="Share article via Twitter"><i class="fa fa-twitter" aria-hidden="true" alt="Twitter"></i><!--Twitter--></a>
                            <a href="shareLinkedIn" title="Share article via LinkedIn"><i class="fa fa-linkedin" aria-hidden="true" alt="LinkedIn"></i><!--LinkedIn--></a>
                            <a href="shareGoogle+" title="Share article via Google+"><i class="fa fa-google-plus-square" aria-hidden="true" alt="Google+"></i><!--Google+--></a>						
                            <a href="shareEmail" title="Share article via Email"><i class="fa fa-envelope" aria-hidden="true" alt="Email"></i><!--Email--></a>
                        </span>
                    </div>
                    <div class="row" style="margin: -15px 0 15px;">
                        <a href="#top" title="Back to top" style="float: right;">Back to top <i class="fa fa-arrow-up" aria-hidden="true" alt="Up"></i></a>
                    </div>
                </div>
        </div>
        

</div><!--/container-->