---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<div class="container">
		<div class="row">
			<div class="eight columns offset-by-two">
				<div class="coverPhotoAuthorBox">
					<a href="#author" title="See all posts by {{ author.name }}"><img class="avatar" src="{{ author.image }}" alt="{{ author.name }}">
					<span>{{ author.name }}</span></a>
				</div>
				<div id="post">

                {{ content }}

                {% if page.video-embed-link %}

                {% include video.html %}
                
                {% endif %}

                </div>
            </div>
        </div><!--/row-->
        <div class="row">
                <div class="eight columns offset-by-two">
                    <div id="postWidget">
                            {% if page.tags.size > 0 %}
                            Tag{% if page.tags.size > 1 %}s{% endif %}:
                            {{ page.tags | sort | join: ", " }}
                          {% endif %}
                        <span>Tags: <a href="#tag1" title="#tag1">Workplace</a>, <a href="#tag2" title="#tag2">Technology</a>, <a href="#tag3" title="#tag3">Future</a></span>
                        <span>Subscribe <a href="#rss" title="Subscribe via RSS">via RSS</a></span>
                        <span>Share: 
                            <a href="#shareFacebook" title="Share article via Facebook"><i class="fa fa-facebook-square" aria-hidden="true" alt="Facebook"></i><!--Facebook--></a>
                            <a href="shareTwitter" title="Share article via Twitter"><i class="fa fa-twitter" aria-hidden="true" alt="Twitter"></i><!--Twitter--></a>
                            <a href="shareLinkedIn" title="Share article via LinkedIn"><i class="fa fa-linkedin" aria-hidden="true" alt="LinkedIn"></i><!--LinkedIn--></a>
                            <a href="shareGoogle+" title="Share article via Google+"><i class="fa fa-google-plus-square" aria-hidden="true" alt="Google+"></i><!--Google+--></a>						
                            <a href="shareEmail" title="Share article via Email"><i class="fa fa-envelope" aria-hidden="true" alt="Email"></i><!--Email--></a>
                        </span>
                    </div>
                </div>
        </div>

{% include author-box.html %}

{% include comments.html %}
</div><!--/container-->